<div class="site-section-cover">
    <div class="container">
      <div class="row align-items-center text-left justify-content-center">
        <div class="col-lg-10 ml-auto">
          <h1 class="text-black mb-4">"Connecting Businesses with Global Tech Talent"</h1>
        </div>
      </div>
    </div>
  </div>
  
  <div class="site-section-cover full-screen" style="background-image: url('assets/images/hero_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center text-left justify-content-center">
      </div>
    </div>
  </div>
  
  
  <div class="site-section">
    <div class="container">
  
      <div class="row mb-5 align-items-start">
        <div class="col-md-4">
          <h5 class="heading-caps text-muted">Who we are?</h5>
        </div>
        <div class="col-md-8">
          <h2 class="font-weight-bold">Click2Connect exists to provide businesses </h2>
          <p>with high-quality, cost-effective digital solutions by tapping into a diverse pool of global tech talent.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-29191 d-flex">
            <span class="wrap-icon mb-4 d-block">
              <span class="et-toolbox"></span>
            </span>
            <div>
              <h3 class="mb-3">Web Development & Design</h3>
              <p>We create responsive, high-performance websites that are both user-friendly and scalable to meet your business needs.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-29191 d-flex">
            <span class="wrap-icon mb-4 d-block">
              <span class="et-genius"></span>
            </span>
            <div>
              <h3 class="mb-3">Mobile Application Development</h3>
              <p>From concept to execution, we develop apps for iOS and Android that provide a seamless user experience and advanced functionality</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-29191 d-flex">
            <span class="wrap-icon mb-4 d-block">
              <span class="et-chat"></span>
            </span>
            <div>
              <h3 class="mb-3">24/7 Support</h3>
              <p>Our work doesn’t end at launch. We provide continuous support and updates to ensure your digital solutions evolve with your business. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
    <div class="site-section bg-dark">
    <div class="container-fluid ">
      
      
  
  
      <div class="owl-carousel nonloop-block-13">
        <div class="media-29191">
          <blockquote>
            &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi itaque incidunt tenetur iure rerum sed amet. Fugit, provident?&rdquo;
          </blockquote>
          <div class="d-flex vcard-91123 align-items-center">
            <div class="img mr-3"><img src="assets/images/person_1.jpg" alt="Image" class="img-fluid"></div>
            <div class="name">
              <span class="d-block">by John Freeman</span>
              <span>CEO Co-Founder</span>
            </div>
          </div>
        </div>
  
  
        <div class="media-29191">
          <blockquote>
            &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi itaque incidunt tenetur iure rerum sed amet. Fugit, provident?&rdquo;
          </blockquote>
          <div class="d-flex vcard-91123 align-items-center">
            <div class="img mr-3"><img src="assets/images/person_4.jpg" alt="Image" class="img-fluid"></div>
            <div class="name">
              <span class="d-block">by John Freeman</span>
              <span>CEO Co-Founder</span>
            </div>
          </div>
        </div>
  
        <div class="media-29191">
          <blockquote>
            &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi itaque incidunt tenetur iure rerum sed amet. Fugit, provident?&rdquo;
          </blockquote>
          <div class="d-flex vcard-91123 align-items-center">
            <div class="img mr-3"><img src="assets/images/person_3.jpg" alt="Image" class="img-fluid"></div>
            <div class="name">
              <span class="d-block">by John Freeman</span>
              <span>CEO Co-Founder</span>
            </div>
          </div>
        </div>
  
        <div class="media-29191">
          <blockquote>
            &ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi itaque incidunt tenetur iure rerum sed amet. Fugit, provident?&rdquo;
          </blockquote>
          <div class="d-flex vcard-91123 align-items-center">
            <div class="img mr-3"><img src="assets/images/person_2.jpg" alt="Image" class="img-fluid"></div>
            <div class="name">
              <span class="d-block">by John Freeman</span>
              <span>CEO Co-Founder</span>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>
  
  <div class="site-section pb-0">
    <div class="container">
      <div class="row mb-5 align-items-start">
        <div class="col-md-4">
          <h5 class="heading-caps text-muted">Our mission</h5>
        </div>
        <div class="col-md-8">
          <h2 class="font-weight-bold">At Click2Connect, we focus on creating partnerships that drive digital innovation</h2>
          <p>Our diverse, multinational team is dedicated to connecting European businesses with top-tier developers from around the world, offering high-quality, affordable solutions.</p>
        </div>
      </div>
    </div>
   <!--  <div class="container-fluid px-0">
      <div class="row no-gutters">
        <div class="col-md-4">
          <a href="assets/images/img_1.jpg" data-fancybox="gal" class="portfolio-item"><img src="assets/images/img_1.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="col-md-4">
          <a href="assets/images/img_2.jpg" data-fancybox="gal" class="portfolio-item"><img src="assets/images/img_2.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="col-md-4">
          <a href="assets/images/img_3.jpg" data-fancybox="gal" class="portfolio-item"><img src="assets/images/img_3.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="col-md-4">
          <a href="assets/images/img_4.jpg" data-fancybox="gal" class="portfolio-item"><img src="assets/images/img_4.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="col-md-4">
          <a href="assets/images/img_5.jpg" data-fancybox="gal" class="portfolio-item"><img src="assets/images/img_5.jpg" alt="Image" class="img-fluid"></a>
        </div>
        <div class="col-md-4">
          <a href="assets/images/img_6.jpg" data-fancybox="gal" class="portfolio-item"><img src="assets/images/img_6.jpg" alt="Image" class="img-fluid"></a>
        </div>
        
      </div>
    </div> -->
  </div>